<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head.ejs') %>
  <body>
    <%- include('./layout/header.ejs') %>

    <div class="stylee">

            <h3>Cases : <%= array.country %></h3> 
            <form action="/deletdb/<%= array.id %>?_method=DELETE" method="POST">
            <h3>country : <%= array.country %></h3> 

            <h3>TotalConfirmed : <%= array.totalconfirmed %></h3> 
            <h3>TotalDeaths : <%= array.totaldeaths %></h3> 
            <h3>TotalRecovered : <%= array.totalrecovered %></h3> 
            <h3>Date : <%= array.date %></h3> 
            <button type="submit">delet</button>

        </form>
       
    
  
    </div>

    <%- include('./layout/footer.ejs') %>
  </body>
</html>
